build
contourpy
cycler
dafsa
et_xmlfile
fonttools
graphviz
inquirerpy
kiwisolver
markdown-it-py
matplotlib
mdurl
networkx
numpy
openpyxl
packaging
pandas
pfzy
pillow
prompt_toolkit
Pygments
pyparsing
pyproject_hooks
python-dateutil
pytz
rich
scipy
six
tabulate
tzdata
wcwidth
